<ng-container *ngIf="(registrations != null && registrations.length > 0); else message">
    <div class="reg-container">           
        <div *ngFor="let reg of registrations; let i = index;" class="registration-entry">
            <div class="first">
                <div [ngClass]="selectedIndex == i ? 'checkbox ticked' : 'checkbox'" (click)="selectIndex(i)">
                    <ion-icon name="checkmark"></ion-icon>
                </div>
            </div>
            <div class="left">
                <p class="storage-type">{{ reg.storageType }}</p>
                <p class="plate-display">{{ reg.reg }}</p>
            </div>
            <div class="right">
                <p class="date-added">{{ reg.dateAdded }}</p>
                <ng-container *ngIf="reg.storageType == 'retention'; else vehicle">
                    <p>{{ reg.retentionSince }}</p>
                    <p>{{ reg.retentionExpire }}</p>
                </ng-container>
                <ng-template #vehicle>

                    <div *ngIf="reg.hasRelatedVehicle; else vehicleAddition">
                        <p>We have found your this reg attached to a vehicle in your app.</p>
                        <div class="view-info" (click)="null">View Info</div>
                    </div>
                    <ng-template #vehicleAddtion>
                        <div>
                            <p>We cannot find your reg attached to a vehicle in your app.</p>
                            <div class="view-info" (click)="null">Add It</div>
                        </div>
                    </ng-template>
                    
                </ng-template>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #message> <h1 class="error-message"> You don't have any registrations currently saved. </h1> </ng-template>