@font-face {
font-family: 'UKNumberPlate';
src: url('../../assets/UKNumberPlate.ttf') format("opentype");
}

$primary-color: #2D78AB;
$disabled-color: #BBBBBB;
$odd-color: #F8F8F8;

.error-message {

    color: black;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    font-weight: normal;

    padding-left: 2%;
    padding-right: 2%;

    width: 100%;
    text-align: center;

}

.reg-container {

    .registration-entry {

        width: 100%;
        height: 5em;

        &:nth-child(odd) {
            background-color: $odd-color;
        }

        display: flex;

        .first {
            float: left;
            padding: .4em;
            .checkbox {
                width: .8em;
                height: .8em;
                border-radius: 2px;
                background-color: #DEDEDE;

                * {
                    display: none;
                }

            }

            .ticked {
                * {
                    display: block;
                    text-align: center;
                    width: inherit;
                    height: inherit;
                    padding: 0;
                    position: absolute;
                }
            }

        }

        .left {

            width: max-content;
            display: flex;
            flex-direction: column;
            min-width: 40%;
 
            .storage-type {
                flex: 1;
                font-weight: bold;
                padding: 0;
                margin: .2em;
                font-weight: 500;
                line-height: 1.2;
                font-size: 1em;
            }

            .plate-display {
                margin: 0;
                margin-left: .35em;
                font-size: 1.8em;
                width: fit-content;
                background-color: #F9EA14;
                border: .05em solid black;
                border-radius: 4px;
                padding: .1em .35em .1em .35em;
                text-align: center;
                margin-bottom: .4em;

                font-family: 'UKNumberPlate', sans-serif;

            }
        }

        .right {
            padding-left: .5em;
            padding-right: .6em;
            flex: 1;
            padding-top: .75em;
            .date {
                display: flex;
                text-align: left;

                p {             
                    margin: 0;  
                    font-size: .75em;
                    &:nth-child(1) {
                        flex: 1;
                        font-size: .9em;
                    }
                }

            }

        }

    }

}