<div class="content" *ngIf="vehicleData != null">

    <ion-label class="title">Registration</ion-label>
    <div class="input">
      <ion-input placeholder="Your registration" [(ngModel)]="vehicleData.dvlaData.registration"  (input)="upperCase($event)" (ionBlur)="restrictInput($event)"></ion-input>
    </div>
    <ion-label class="error" *ngIf="regError">Your registration is an invalid format.</ion-label>  

    <ion-label class="title">Make</ion-label>
    <div class="input">
      <ion-input placeholder="Your make" [(ngModel)]="vehicleData.dvlaData.make"></ion-input>
    </div>

    <ion-label class="title">Model</ion-label>
    <div class="input">
      <ion-input placeholder="Your model" [(ngModel)]="vehicleData.dvlaData.model"></ion-input>
    </div>

    <div class="sameline-input">
      <ion-label class="title">Engine Size</ion-label>
      <div class="input">
        <ion-input type="number" placeholder="Your engine size" [(ngModel)]="vehicleData.dvlaData.engineSize"></ion-input>
      </div>

      <ion-label class="title">Mileage</ion-label>
      <div class="input">
        <ion-input type="number" placeholder="Your current mileage" [(ngModel)]="vehicleData.currentMileage"></ion-input>
      </div>
    </div>
  
    <ion-label>Build Date</ion-label>
    <ion-datetime pickerFormat="MMMM-YYYY" displayFormat="MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="vehicleData.dvlaData.manufactureDate"></ion-datetime>

    <ion-label>Registration Date</ion-label>
    <ion-datetime pickerFormat="MMMM-YYYY" displayFormat="MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="vehicleData.dvlaData.registrationDate"></ion-datetime>

    <ion-label>Fuel Type</ion-label>
    <ion-select placeholder="Petrol" [(ngModel)]="vehicleData.dvlaData.fuelType">
      <ion-select-option *ngFor="let type of fuelTypes" value="{{ type }}">{{ type }}</ion-select-option>
    </ion-select>

    <ion-label>Colour</ion-label>
    <ion-select placeholder="White" [(ngModel)]="vehicleData.dvlaData.primaryColour">
      <ion-select-option *ngFor="let colour of dvlaColours" value="{{ colour }}">{{ colour | titlecase }}</ion-select-option>
    </ion-select>

  <ion-grid>
    <ion-row>
      <ion-checkbox [(ngModel)]="vehicleData.hasMot"></ion-checkbox>
      <ion-label>Does it have MOT?</ion-label>     
    </ion-row>
    <ion-row *ngIf="vehicleData.hasMot">
      <ion-datetime max="{{nextYear}}" pickerFormat="DD-MMMM-YYYY" displayFormat="DD MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="vehicleData.motDueDate"></ion-datetime>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-checkbox [(ngModel)]="vehicleData.hasTax"></ion-checkbox>
      <ion-label>Does it have TAX?</ion-label>
    </ion-row>
    <ion-row *ngIf="vehicleData.hasTax">
      <ion-datetime max="{{nextYear}}" pickerFormat="DD-MMMM-YYYY" displayFormat="DD MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="vehicleData.taxDueDate"></ion-datetime>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-checkbox [(ngModel)]="vehicleData.isSORNd"></ion-checkbox>
      <ion-label>Is it SORN'd?</ion-label>
    </ion-row>
    <ion-row *ngIf="vehicleData.isSORNd">
      <ion-datetime max="{{nextYear}}" pickerFormat="DD-MMMM-YYYY" displayFormat="DD MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="vehicleData.sornDate"></ion-datetime>
    </ion-row>
  </ion-grid>

    <ion-label>MOT Entries</ion-label>
    <div class="mot-entry-display">
        <ion-list>
        <ion-item *ngFor="let mot of vehicleData.dvlaData.motTests; let i = index;" lines="none" (click)="selectedMotResult=i">
            <div class="mot-entry" id="mot{{ i }}" [ngClass]="selectedMotResult == i ? 'selected' : ''">
            <p class="mot-result">{{ mot.testResult }}</p>
            <p class="mot-date">{{ mot.completedDate }}</p>
            </div>
        </ion-item>
        </ion-list>

        <div class="mot-controls">
        <div class="control" (click)="addMotHistory()"><ion-icon name="add"></ion-icon></div>
        <div class="control" (click)="removeMotHistory()"><ion-icon name="remove"></ion-icon></div>
        </div>

    </div>

</div>