<ion-header no-border [ngClass]="(selectedMot < 0) ? 'underlined-title' : ''">
  <ion-toolbar no-border class="ion-text-center">
    <div slot="start" (click)="goBack();">
      <ion-icon ios="ios-add" md="md-add"></ion-icon> 
    </div>

    <ng-container *ngIf="selectedMot < 0; else mot">
      <ion-title>{{ vehicle.dvlaData.make }} {{ vehicle.dvlaData.model }}</ion-title>
      <p slot="end">EDIT</p>
    </ng-container>

    <ng-template #mot>
      <ion-title>MOT Result</ion-title>
    </ng-template>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="selectedMot == -1; else motview">
    <app-vehicle-details [vehicleData]="vehicle" (selectedMot)="selectedMot=$event"></app-vehicle-details>
  </ng-container>
  
  <ng-template #motview>
    <app-mot-view [index]="selectedMot" [vehicleData]="vehicle"></app-mot-view>
  </ng-template>

</ion-content>