<ion-header no-border [ngClass]="(selectedMot < 0) ? 'underlined-title' : ''">
  <ion-toolbar no-border class="ion-text-center">
    <div slot="start" (click)="goBack();">
      <ion-icon ios="ios-add" md="md-add"></ion-icon> 
    </div>

    <ng-container *ngIf="(selectedMot < 0 && (vehicle != null || reg != null)); else mot">

      <ng-container [ngSwitch]="type">

        <ng-container *ngSwitchCase="'vehicle'"> <ion-title>{{ vehicle.dvlaData.make }} {{ vehicle.dvlaData.model }}</ion-title> </ng-container>
        <ng-container *ngSwitchCase="'registration'"> <ion-title>{{ reg.reg }}</ion-title> </ng-container>

        <p slot="end">EDIT</p>

      </ng-container>

    </ng-container>

    <ng-template #mot>
      <ion-title>MOT Result</ion-title>
    </ng-template>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="selectedMot == -1; else motview">
    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="'vehicle'">
        <app-vehicle-details [hidden]="false" [vehicleData]="vehicle" (selectedMot)="selectedMot=$event"></app-vehicle-details>
      </ng-container>
      <ng-container *ngSwitchCase="'registration'">
        <app-reg-details [hidden]="false" [regData]="reg"></app-reg-details>
      </ng-container>
    </ng-container>
  </ng-container>
  
  <ng-template #motview>
    <app-mot-view [index]="selectedMot" [vehicleData]="vehicle"></app-mot-view>
  </ng-template>

</ion-content>