<ion-header>
  <ion-toolbar text-center mode="ios">
    <ng-container *ngIf="type == 'vehicle'; else regs">
      <ion-label class="save" slot="start" (click)="saveData()">SAVE</ion-label>
      <ion-title *ngIf="vehicle != null" class="ion-text-center">{{ vehicle.dvlaData.make }} {{ vehicle.dvlaData.model }}</ion-title>
      <ion-label class="cancel" slot="end" (click)="goBack()">CANCEL</ion-label>
    </ng-container>
    <ng-template #regs>
        <ion-label class="save" slot="start" (click)="saveData()">SAVE</ion-label>
        <ion-title *ngIf="registration != null" class="ion-text-center">{{ registration.reg }}</ion-title>
        <ion-label class="cancel" slot="end" (click)="goBack()">CANCEL</ion-label>
    </ng-template>
    

  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="type == 'vehicle'; else registrationComp">
    <app-vehicle-edit #vehicleEdit [vehicleData]="vehicle"></app-vehicle-edit>
  </ng-container>
  <ng-template #registrationComp>
    <app-registration-edit #registrationEdit [registrationData]="registration"></app-registration-edit>
  </ng-template>

</ion-content>
