<div class="vehicle-details">

  <div class="single-line">
    <p>Registration Date</p>
    <p>{{ vehicleData.dvlaData.registrationDate | formatDate }}</p>
  </div>

  <div class="single-line">
    <p>Registration</p>
    <p>{{ vehicleData.dvlaData.registration }}</p>
  </div>

  <div class="split-container">
    <div class="left">
      <div class="single-line">
        <p>Engine Size</p>
        <p>{{ vehicleData.dvlaData.engineSize | floatDisplay }}L</p>
      </div>
    </div>
    <div class="right">
      <div class="single-line">
        <p>Fuel Type</p>
        <p>{{ vehicleData.dvlaData.fuelType }}</p>
      </div>
    </div>
  </div>

  <div class="split-container">
    <div class="left">
      <div class="single-line">
        <p>Tax</p>
        <p>{{ vehicleData.hasTax ? (vehicleData.taxDueDate | formatDate) : 'None' }}</p>
      </div>
    </div>
    <div class="right">
      <div class="single-line">
        <p>MOT</p>
        <p>{{ vehicleData.hasMot ? (vehicleData.motDueDate | formatDate) : 'None' }}</p>
      </div>
    </div>
  </div>

  <div class="split-container">
    <div class="left">
      <div class="single-line">
        <p>Primary Colour</p>
        <p>{{ vehicleData.dvlaData.primaryColour | titlecase }}</p>
      </div>
    </div>
    <div class="right">
      <div class="single-line">
        <p>Mileage</p>
        <p>{{ vehicleData.currentMileage | toThousands }}k</p>
      </div>
    </div>
  </div>

</div>

<div class="previous-mot">

  <h1>MOT History</h1>

  <ng-container *ngIf="vehicleData.dvlaData.motTests.length > 0; else noneMessage">
  
    <ul>
      <li *ngFor="let motData of vehicleData.dvlaData.motTests; let i = index" (click)="goToMot(i)">

        <ng-container *ngIf="(i < 5 || displayingAll)">
        
          <div class="left">
            <div class="top">
              <p class="mot-result"> {{ motData.testResult }} </p>
              <p *ngFor="let issue of generateIssueList(motData)" class="issue">{{ issue.count }} {{ issue.displayText }}</p>
            </div> 
            <div class="bottom">
              <p *ngFor="let issue of generateIssueList(motData)" >{{ issue.text }}</p>
            </div>
          </div>

          <div class="right">
            <p class="date"> {{ motData.completedDate | formatDate }} </p>
            <p class="mileage"> {{ motData.odometerValue | toThousands }}k </p>
            <div class="spacer"></div>
            <p class="view-more">View More</p>
          </div>
          
        </ng-container>

      </li>
    </ul>

    <div class="view-all" *ngIf="vehicleData.dvlaData.motTests.length > 4" (click)="displayingAll = true">
      <p>View All</p>
    </div>

  </ng-container>

  <ng-template #noneMessage>
    <div class="view-all">
      <p>No MOT history has been found.</p>
    </div>
  </ng-template>

</div>