<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header no-border>
        <ion-toolbar class="sameline-toolbar">
          <ion-title>Welcome, James!</ion-title>
          <div (click)="menuClose()"></div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">

            <ion-label [routerDirection]="'root'" [routerLink]="[p.url]">
                {{p.title}}
            </ion-label>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>
</ion-app>