<ng-container *ngIf="(vehicles != null && vehicles.length > 0); else message">
    <div class="vehicle-container">
        <div *ngFor="let vehicle of vehicles; let i = index;" class="vehicle">

            <div class="left">
                <div [ngClass]="selectedIndex == i ? 'checkbox ticked' : 'checkbox'" (click)="selectIndex(i)">
                    <ion-icon name="checkmark"></ion-icon>
                </div>
            </div>

            <div class="right">
                <div class="top-bar">
                    <h1>{{ vehicle.dvlaData.make }} {{ vehicle.dvlaData.model }}</h1>
                    <div class="bell-icon"><ion-icon name="notifications-outline"></ion-icon></div>
                </div>
                <div style="display: flex">
                    <div class="vehicle-detials" (click)="viewEntry(i)">
                        <div class="middle-bar">
                            <div class="details">
                                <p>{{ vehicle.dvlaData.registrationDate | iondate: 'Y' }}</p>
                                <p>{{ vehicle.currentMileage | toThousands }}{{ (vehicle.currentMileage > 999 && vehicle.currentMileage < 1000000) ? 'k' : '' }}</p>
                                <p>{{ vehicle.dvlaData.engineSize | floatDisplay }} {{ vehicle.dvlaData.fuelType }}</p>
                            </div>
                        </div>
                        <div class="bottom-bar">
                            <div class="button-container">
                                <div class="view-button">View Details</div>
                            </div>
                        </div>
                    </div>
                    <div class="gov-details">
                        <div class="bottom-bar">
                            <div class="requirements">
                                <div class="status-data">
                                    <p class="label">MOT</p>
                                    <p class="status" [ngClass]="vehicle.hasMot ? 'is-date' : ''" [style.color]="checkDate(vehicle, 'mot')"> {{ vehicle.hasMot ? getDate(vehicle.motDueDate) : 'No' }}</p>
                                </div>
                                <div class="status-data">
                                    <p class="label">TAX</p>
                                    <p class="status" [ngClass]="vehicle.hasTax ? 'is-date' : ''" [style.color]="checkDate(vehicle, 'tax')"> {{ vehicle.hasTax ? getDate(vehicle.taxDueDate) : 'No' }}</p>
                                </div>
                                <div class="status-data">
                                    <p class="label">SORN</p>
                                    <p class="status" [ngClass]="vehicle.isSORNd ? 'is-date' : ''" [style.color]="checkDate(vehicle, 'sorn')">{{ vehicle.isSORNd ? getDate(vehicle.sornDate) : 'No'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-container>

<ng-template #message> <h1 class="error-message" (click)="updateVehicles()"> You don't have any vehicles currently saved. </h1> </ng-template>
