<ng-container *ngIf="vehicles != null; else message">
    <div class="vehicle-container">
        <div *ngFor="let vehicle of vehicles; let i = index;" class="vehicle">

            <div class="left">
                <div [ngClass]="selectedIndex == i ? 'checkbox ticked' : 'checkbox'" (click)="selectIndex(i)">
                    <ion-icon name="checkmark"></ion-icon>
                </div>
            </div>

            <div class="right" (click)="viewEntry(i)">
                <div class="top-bar">
                    <h1>{{ vehicle.dvlaData.make }} {{ vehicle.dvlaData.model }}</h1>
                    <div class="bell-icon"></div>
                </div>
                <div class="vehicle-detials">
                    <div class="middle-bar">
                        <div class="details">
                            <p>{{ vehicle.dvlaData.registrationDate | iondate: 'Y' }}</p>
                            <p>{{ vehicle.currentMileage | toThousands }}{{ (vehicle.currentMileage > 999 && vehicle.currentMileage < 1000000) ? 'k' : '' }}</p>
                            <p>{{ vehicle.dvlaData.engineSize }} {{ vehicle.dvlaData.fuelType }}</p>
                        </div>
                    </div>
                    <div class="bottom-bar">
                        <div class="button-container">
                            <div class="view-button" (click)="null">View Details</div>
                        </div>
                    </div>
                </div>
                <div class="gov-details">
                    <div class="middle-bar">
                        <div class="requirement-labels">
                            <p>MOT</p>
                            <p>TAX</p>
                            <p>SORN</p>
                        </div>
                    </div>
                    <div class="bottom-bar">
                        <div class="requirements">
                            <p [style.color]="checkDate(vehicle.dvlaData, 'mot')"> {{ vehicle.hasMot ? vehicle.motDueDate : 'No' }} </p>
                            <p [style.color]="checkDate(vehicle.dvlaData, 'tax')"> {{ vehicle.hasTax ? vehicle.taxDueDate : 'No' }} </p>
                            <p [style.color]="checkDate(vehicle.dvlaData, 'sorn')">{{ vehicle.isSORNd ? vehicle.sornDate : 'No'}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-container>

<ng-template #message> <h1 class="error-message" (click)="updateVehicles()"> You don't have any vehicles currently saved. </h1> </ng-template>
