$primary-color: #2D78AB;
$disabled-color: #BBBBBB;

.error-message {

    color: black;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    font-weight: normal;

    padding-left: 2%;
    padding-right: 2%;

    width: 100%;
    text-align: center;

}