$primary-color: #2D78AB;
$disabled-color: #BBBBBB;

.error-message {

    color: black;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    font-weight: normal;

    padding-left: 2%;
    padding-right: 2%;

    width: 100%;
    text-align: center;

}

.vehicle-container {

    margin-top: 0;

    .vehicle {
        width: 100%;
        height: 4.8em;

        &:nth-child(odd) {
            background-color: #F8F8F8;
        }

        display: flex;

        .left {
            float: left;
            padding: .4em;
            .checkbox {
                width: .8em;
                height: .8em;
                border-radius: 2px;
                background-color: #DEDEDE;

                * {
                    display: none;
                }

            }

            .ticked {
                * {
                    display: block;
                    text-align: center;
                    width: inherit;
                    height: inherit;
                    padding: 0;
                    position: absolute;
                }
            }

        }

        .right {
            flex: 1;

            .top-bar {
                display: flex;
                h1 {
                    flex: 1;
                    margin: .2em;
                    font-size: 1em;
                }
                .bell-icon {
                    z-index: 99;
                    padding-right: .2em;
                    padding-top: .2em;
                    width: fit-content;
                    height: 100%;
                    float: right;
                    text-align: center;

                    ion-icon {
                        font-size: 1.3em;
                    }

                }
            }

            .vehicle-detials {
                flex: 1;
            }

            .gov-details {
                padding-right: .4em;
            }

            .vehicle-detials, .gov-details {
                .middle-bar {
                    display: flex;
                    width: 100%;

                    p {
                        font-size: .9em;
                        margin: 0;
                        min-width: fit-content;
                        text-align: center;
                        padding-left: .4em;
                        padding-right: .4em;

                        flex: 1;

                    }

                    .details {
                        margin-left: auto;
                        margin-right: auto;

                        p {
                            display: inline;
                            text-align: center;

                            &:nth-child(1) { text-align: left; }
                            &:nth-child(3) { text-align: right; }

                        }
                    }

                }

                .bottom-bar {
                    display: flex;

                    .button-container {

                        flex: 1;
                        display: flex;
                        .view-button {

                            min-width: fit-content;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: .25em;

                            border-radius: 6px;

                            width: 90%;
                            height: 80%;
                            background-color: #2D78AB;

                            text-align: center;
                            color: white;

                        }
                    }

                    .requirements {
                        flex: 1;
                        display: flex;
                        align-items: baseline;

                        .status-data {
                            display: flex;
                            flex-flow: column;

                            height: 90%;

                            flex: 1;
                            padding-left: .2em;
                            padding-right: .2em;

                            .label {
                                flex: 1;
                                font-weight: bold;
                                text-align: center;
                            }

                            .status {
                                flex: 1;
                            }
    
                        }

                        p {
                            text-align: center;
                            min-width: max-content;
                            flex: 1;
                            margin: 0;
                        }

                        .is-date {
                            display: flex;
                            font-size: .7em;
                            text-align: center;
                            align-items: flex-end;
                        }

                    }

                }
            }

        }

    }

}