<div class="user-control">
  <div class="cancel-disabled">CANCEL</div>
  <div class="title">ADD REG</div>
  <div class="save" (click)="addReg()">SAVE</div>
</div>
  
<div class="content"> 
  <ion-row>
    <ion-label class="title">Registration</ion-label>
    <div class="input">
      <ion-input placeholder="Registration" (input)="upperCase($event)" (ionBlur)="restrictInput($event)" [(ngModel)]="tempRegdata.reg"></ion-input>
    </div>
    <ion-label class="error" *ngIf="regError">Your registration is an invalid format.</ion-label>
  </ion-row>

  <ion-label class="title">Attachment Type</ion-label>
  <ion-select value="retention" okText="Confirm" cancelText="Cancel" [(ngModel)]="tempRegdata.storageType">
    <ion-select-option value="retention">Retention</ion-select-option>
    <ion-select-option value="vehicle">Vehicle</ion-select-option>
  </ion-select>

  <ng-container *ngIf="tempRegdata.storageType == 'retention'">
    <ion-label class="title">Retention Since</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" (ionChange)="updateExpiration($event)" [(ngModel)]="tempRegdata.retentionSince"></ion-datetime>

    <ion-label class="title">Retention Expire</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="tempRegdata.retentionExpire"></ion-datetime>
  </ng-container>

</div> 