<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" style="margin-left: -.4em;">
      <ion-button (click)="controlButton()">
        <div [ngClass]="additionOpen ? 'icon icon-onscreen' : 'icon'">
          <ion-icon name="arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      ottoman
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <div class="main" *ngIf="additionOpen == false; else additionPage">

    <div class="buttons">
      <div class="button" [class.button-highlight]="selectedTab == 'vehicles'" (click)="selectedTab = 'vehicles'; selectedIndex = -1"><h1>Vehicles</h1></div>
      <div class="button" [class.button-highlight]="selectedTab == 'registrations'" (click)="selectedTab = 'registrations'; selectedIndex = -1"><h1>Registrations</h1></div>
    </div>

    <div class="controls">
      <p class="delete" [ngClass]="selectedIndex > -1 ? 'enabled' : 'disabled'">DELETE</p>
      <p class="edit">EDIT</p>
      <p class="add" (click)="goToAddition()">ADD</p>
    </div>

    <ng-container [ngSwitch]="selectedTab">

      <ng-container *ngSwitchCase="'vehicles'">
        <app-vehicles (valueChange)="selectedIndex = $event"></app-vehicles>
      </ng-container>
      <ng-container *ngSwitchCase="'registrations'"> 
        <app-registrations></app-registrations>
      </ng-container>
      <div *ngSwitchDefault class="tab-error"> An error has occured. Please reload the app. </div>

    </ng-container>

  </div>

  <ng-template #additionPage>

    <ng-container [ngSwitch]="selectedTab">

      <app-vehicle *ngSwitchCase="'vehicles'"></app-vehicle>
  
      <app-registration *ngSwitchCase="'registrations'"></app-registration>
  
    </ng-container>      

  </ng-template>
  

</ion-content>
