<div class="user-control">
  <div class="cancel-disabled">CANCEL</div>
  <div class="title">ADD VEHICLE</div>
  <div class="save">SAVE</div>
</div>

<div class="content" *ngIf="isManualMode == false; else manual">

  <ion-label class="title">Enter your car's registration</ion-label>
  <div class="input">
    <ion-input placeholder="Your registration" (input)="upperCase($event)" (ionBlur)="restrictInput($event)"></ion-input>
  </div>

  <div class="element-centre">
    <ion-button size="small" (click)="getDVLADetails()">GET DETAILS</ion-button>
  </div>
    
  <ion-label class="information" (click)="toggleManual()">Click <strong>here</strong> to enter your details manually.</ion-label>

</div>

<ng-template #manual>

  <div class="content">

      <ion-label class="title">Registration</ion-label>
      <div class="input">
        <ion-input placeholder="Your registration" [(ngModel)]="tempVehicle.dvlaData.registration"  (input)="upperCase($event)" (ionBlur)="restrictInput($event)"></ion-input>
      </div>

      <ion-label class="title">Make</ion-label>
      <div class="input">
        <ion-input placeholder="Your make" [(ngModel)]="tempVehicle.dvlaData.make"></ion-input>
      </div>

      <ion-label class="title">Model</ion-label>
      <div class="input">
        <ion-input placeholder="Your model" [(ngModel)]="tempVehicle.dvlaData.model"></ion-input>
      </div>

      <div class="sameline-input">
        <ion-label class="title">Engine Size</ion-label>
        <div class="input">
          <ion-input type="number" placeholder="Your engine size" [(ngModel)]="tempVehicle.dvlaData.engineSize"></ion-input>
        </div>

        <ion-label class="title">Mileage</ion-label>
        <div class="input">
          <ion-input type="number" placeholder="Your current mileage" [(ngModel)]="tempVehicle.currentMileage"></ion-input>
        </div>
      </div>
    
      <ion-label>Build Date</ion-label>
      <ion-datetime pickerFormat="MMMM-YYYY" displayFormat="MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="tempVehicle.dvlaData.manufactureDate"></ion-datetime>

      <ion-label>Registration Date</ion-label>
      <ion-datetime pickerFormat="MMMM-YYYY" displayFormat="MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="tempVehicle.dvlaData.registrationDate"></ion-datetime>

      <ion-label>Fuel Type</ion-label>
      <ion-select placeholder="Petrol" [(ngModel)]="tempVehicle.dvlaData.fuelType">
        <ion-select-option *ngFor="let type of fuelTypes" value="{{ type }}">{{ type }}</ion-select-option>
      </ion-select>

      <ion-label>Colour</ion-label>
      <ion-select placeholder="White" [(ngModel)]="tempVehicle.dvlaData.primaryColour">
        <ion-select-option *ngFor="let colour of dvlaColours" value="{{ colour }}">{{ colour | titlecase }}</ion-select-option>
      </ion-select>

    <ion-grid>
      <ion-row>
        <ion-checkbox [(ngModel)]="tempVehicle.hasMot"></ion-checkbox>
        <ion-label>Does it have MOT?</ion-label>     
      </ion-row>
      <ion-row *ngIf="tempVehicle.hasMot">
        <ion-datetime max="{{nextYear}}" pickerFormat="DD-MMMM-YYYY" displayFormat="DD MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="tempVehicle.motDueDate"></ion-datetime>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-checkbox [(ngModel)]="tempVehicle.hasTax"></ion-checkbox>
        <ion-label>Does it have TAX?</ion-label>
      </ion-row>
      <ion-row *ngIf="tempVehicle.hasTax">
        <ion-datetime max="{{nextYear}}" pickerFormat="DD-MMMM-YYYY" displayFormat="DD MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="tempVehicle.taxDueDate"></ion-datetime>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-checkbox [(ngModel)]="tempVehicle.isSORNd"></ion-checkbox>
        <ion-label>Is it SORN'd?</ion-label>
      </ion-row>
      <ion-row *ngIf="tempVehicle.isSORNd">
        <ion-datetime max="{{nextYear}}" pickerFormat="DD-MMMM-YYYY" displayFormat="DD MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="tempVehicle.sornDate"></ion-datetime>
      </ion-row>
    </ion-grid>

      <ion-label>MOT History</ion-label>

      <app-button-slider [firstValue]="'PASS'" [secondValue]="'FAIL'" (valueChange)="tempMot.testResult = ($event == true ? 'PASSED' : 'FAILED')"></app-button-slider>

      <ion-label class="title">Mileage</ion-label>
        <div class="input">
          <ion-input type="number" placeholder="Mileage when MOT was taken"  [(ngModel)]="tempMot.odometerValue"></ion-input>
      </div>

      <ion-label>Test Date</ion-label>
      <ion-datetime pickerFormat="DD-MMMM-YYYY" displayFormat="DD MMMM YYYY" placeholder="Jan 1970" [(ngModel)]="tempMot.completedDate"></ion-datetime>

      <ion-label>Type</ion-label>
      <ion-select placeholder="Dangerous" [(ngModel)]="tempMotComment.type">
        <ion-select-option *ngFor="let type of motTypes" value="{{ type }}">{{ type }}</ion-select-option>
      </ion-select>

      <ion-label>Additional Info</ion-label>
      <ion-textarea placeholder="General comments based on the test, e.g. advisories or reasons for a fail." [(ngModel)]="tempMotComment.text"></ion-textarea>

      <ion-label>MOT Defects</ion-label>
      <div class="mot-defect-controls">
        <div class="add" (click)="addMotComment()">ADD</div>
        <div class="delete" (click)="removeMotComment()">DELETE</div>
      </div>
      <ion-list>
        <ng-container *ngIf="comments.length > 0; else errorMessage">
          <ion-item *ngFor="let comment of comments; let i = index;" lines="none" (click)="selectedComment=i">
            <div class="mot-entry" id="comment{{ i }}" [ngClass]="selectedComment == i ? 'selected' : ''">
              <p class="mot-result">{{ comment.type }}</p>
            </div>
          </ion-item>
        </ng-container>

        <ng-template #errorMessage>
          <ion-item>
            <p>No comments have been entered.</p>
          </ion-item>
        </ng-template>
        

      </ion-list>

      <ion-label>MOT Entries</ion-label>
      <div class="mot-entry-display">
        <ion-list>
          <ion-item *ngFor="let mot of tempVehicle.dvlaData.motTests; let i = index;" lines="none" (click)="selectedMotResult=i">
            <div class="mot-entry" id="mot{{ i }}" [ngClass]="selectedMotResult == i ? 'selected' : ''">
              <p class="mot-result">{{ mot.testResult }}</p>
              <p class="mot-date">{{ mot.completedDate }}</p>
            </div>
          </ion-item>
        </ion-list>

        <div class="mot-controls">
          <div class="control" (click)="addMotHistory()"><ion-icon name="add"></ion-icon></div>
          <div class="control" (click)="removeMotHistory()"><ion-icon name="remove"></ion-icon></div>
        </div>

      </div>

    </div>

</ng-template>

<ion-grid class="store-v5">
  <ion-row>
    <ion-col text-center>
      <ion-checkbox [(ngModel)]="tempVehicle.storeV5"></ion-checkbox>
      <ion-label>Store information about your V5</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-footer no-border>
  <div class="element-centre">
    <ion-button size="small" (click)="addVehicle()">ADD VEHICLE</ion-button>
  </div>          
</ion-footer>.