$primary-color: #2D78AB;
$disabled-color: #BBBBBB;

ion-button {
    --background: #2D78AB;
    --background-activated: #3184bd;
    --border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.user-control {

    font-family: 'DM Sans', sans-serif;
    font-weight: bold;

    display: grid;
    grid-template-columns: 25% auto 25%;

    border-bottom: 2px solid $primary-color;    

    .cancel-disabled {
        grid-column: 1;

        padding-top: .2em;
        padding-left: .4em;
        color: $disabled-color;
        font-size: .9em;
        float: left;
        text-align: left;

    }

    .title {
        grid-column: 2;
        text-align: center;
        font-size: 1.2em;
    }

    .save {
        grid-column: 3;

        padding-top: .2em;
        padding-right: .4em;
        color: $primary-color;
        font-size: .9em;
        float: right;
        text-align: right;
    }

}

.element-centre {
    display: grid;

    grid-template-columns: auto min-content auto;

    * {
        grid-column: 2;    
    }

}

.input {


    width: 100%;
    border-bottom: 2px solid #2D78AB;

}

.content {
    color: #272727;
    padding: 1em;

    ion-label {
        font-family: 'DM Sans', sans-serif;
        font-size: 1em;
        font-weight: bold;
    } 

    .title {
        display: block;
    }

    .information {
        display: block;
        font-family: 'DM Sans', sans-serif;
        font-size: .85em;
        color: $disabled-color;
        font-weight: normal;
        padding-top: .2em;
    }

    .input {

        margin-bottom: .4em;

        ion-input {
            font-family: 'DM Sans', sans-serif;
            font-size: 1em;
            font-weight: normal;
        }
    }
   
    .sameline-input {

        display: grid;

        .title {
            grid-row: 1;
        }

        .input {

            grid-row: 2;

            margin-right: .3em;

            ion-input {
                flex: 1;
            }

        }
    }
    .mot-entry-display {

        margin-top: .5em;
        display: grid;
        grid-template-columns: 80% auto;

        ion-list {
            columns: 1;

            ion-item {

                .mot-entry {

                    width: 100%;
                    height: 100%;

                    p {
                        font-family: 'DM Sans', sans-serif;
                        padding-left: .4em;
                        padding-right: .4em;
                    }

                    display: flex;
                    .mot-result{
                        flex: 1;
                        font-weight: bold;
                    }
                    .mot-date {
                        float: right;
                    }
                    
                }

            }

            ion-item:nth-child(odd) .mot-entry {
                background-color: #F8F8F8;
            }

            .selected { 
                border-left: 2px solid $primary-color;
            }

        }

        .mot-controls {
            columns: 2;
            padding-left: .4em;
            padding-right: .4em;

            ion-button {
                clip-path: circle(40% at 50% 50%);
            }

        }

    }

    ion-footer {
        margin-top: 1.2em;
    }

}