<div class="user-control">
  <div class="cancel-disabled">CANCEL</div>
  <div class="title">ADD VEHICLE</div>
  <div class="save">SAVE</div>
</div>

<div class="content" *ngIf="isManualMode == false; else manual">

  <ion-label class="title">Enter your car's registration</ion-label>
  <div class="input">
    <ion-input placeholder="Your registrations"></ion-input>
  </div>

  <div class="element-centre">
    <ion-button size="small" (click)="getDVLADetails()">GET DETAILS</ion-button>
  </div>
    
  <ion-label class="information" (click)="toggleManual()">Click <strong>here</strong> to enter your details manually.</ion-label>

</div>

<ng-template #manual>

  <div class="content">

      <ion-label class="title">Registration</ion-label>
      <div class="input">
        <ion-input placeholder="Your registrations"></ion-input>
      </div>

      <ion-label class="title">Make</ion-label>
      <div class="input">
        <ion-input placeholder="Your make"></ion-input>
      </div>

      <ion-label class="title">Model</ion-label>
      <div class="input">
        <ion-input placeholder="Your model"></ion-input>
      </div>

      <div class="sameline-input">
        <ion-label class="title">Engine Size</ion-label>
        <div class="input">
          <ion-input type="number" placeholder="Your engine size"></ion-input>
        </div>

        <ion-label class="title">Mileage</ion-label>
        <div class="input">
          <ion-input type="number" placeholder="Your current mileage"></ion-input>
        </div>
      </div>
    
      <ion-label>Build Date</ion-label>
      <ion-datetime pickerFormat="MMMM-YYYY" displayFormat="MMMM YYYY" placeholder="Jan 1970"></ion-datetime>

      <ion-label>Registration Date</ion-label>
      <ion-datetime pickerFormat="MMMM-YYYY" displayFormat="MMMM YYYY" placeholder="Jan 1970"></ion-datetime>

      <ion-label>Fuel Type</ion-label>
      <ion-select placeholder="Petrol" >
        <ion-select-option *ngFor="let type of fuelTypes" value="{{ type }}">{{ type }}</ion-select-option>
      </ion-select>

      <ion-label>Colour</ion-label>
      <ion-select placeholder="White" >
        <ion-select-option *ngFor="let colour of dvlaColours" value="{{ colour }}">{{ colour | titlecase }}</ion-select-option>
      </ion-select>

      <ion-label>MOT History</ion-label>

      <app-button-slider [firstValue]="'PASS'" [secondValue]="'FAIL'" (valueChange)="motResultValue=$event"></app-button-slider>

      <ion-label>Additional Info</ion-label>
      <ion-textarea placeholder="General comments based on the test, e.g. advisories or reasons for a fail."></ion-textarea>

      <ion-label class="title">Mileage</ion-label>
        <div class="input">
          <ion-input type="number" placeholder="Mileage when MOT was taken"></ion-input>
      </div>

      <ion-label>Test Date</ion-label>
      <ion-datetime pickerFormat="DD-MMMM-YYYY" displayFormat="DD MMMM YYYY" placeholder="Jan 1970"></ion-datetime>

      <ion-label>MOT Entries</ion-label>
      <div class="mot-entry-display">
        <ion-list>
          <ion-item *ngFor="let mot of motEntries; let i = index;" lines="none" (click)="selectedMotResult=i">
            <div class="mot-entry" id="mot{{ i }}" [ngClass]="selectedMotResult == i ? 'selected' : ''">
              <p class="mot-result">{{ mot.testResult }}</p>
              <p class="mot-date">{{ mot.completedDate }}</p>
            </div>
          </ion-item>
        </ion-list>

        <div class="mot-controls">
          <ion-button><ion-icon name="add"></ion-icon></ion-button>
          <ion-button><ion-icon name="remove"></ion-icon></ion-button>
        </div>

      </div>

      <ion-footer>
        <div class="element-centre">
          <ion-button size="small" (click)="null">ADD VEHICLE</ion-button>
        </div>          
      </ion-footer>

    </div>

</ng-template>
